/* 
Project Name: Color Wheel
Client: Loulou
Author: Emily Greenquist
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/******************************************
/*  STYLES                   
/*******************************************/


*, *:before, *:after {
  box-sizing: inherit;
}

body {
     color: #000;
     font-size: 14px;
     font-family: 'Poiret One', cursive; 
     font-weight: 400;
     line-height: 1.4;
     background-color: #e6e6e6;
}

.all, .foot {
     position: relative;
     width: 600px;
     height: 600px;
     margin-top: 20px;
     padding-left: 20%;
     padding-right: 20%;
}
.head, .foot{
     text-align: center;
}

.foot {
     height: 20px;
}
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
     font-family: 'Poiret One', cursive;
     font-weight: 400;
     font-size: 48px;
}
img {
     width: 30px;
     height: auto;
}
a {
     text-decoration: none;
}

.circle {
     border-radius: 50%;
     border-width: 5px;
     width: 100px;
     height: 100px;
     position: absolute;
     margin: none;
}

.redDotted,
.orangeDotted,  
.yellowDotted, 
.greenDotted, 
.blueDotted, 
.purpleDotted
{
     border-style: dotted;
     background: white;
     z-index: 1;
}
.redDotted,
.yellowDotted, 
.blueDotted
{
     border-style: outset;
     background: #cccccc;
     cursor: pointer;
}
.orangeDotted,
.greenDotted,
.purpleDotted{
     border:none;
     z-index: 1;
     /*-webkit-box-shadow: 0 0 30px 3px rgba(0, 0, 0, .3);
  */
     box-shadow: inset 0 0 5px rgba(0,0,255,1), 5px 5px 5px #f00;
     -webkit-animation: blackglow 1000ms ease-in-out infinite alternate; }
     @-webkit-keyframes blackglow {
          0% {
          box-shadow: inset 0 0 10px rgba(0,0,0,.8), 0 2px 0 rgba(255, 255, 255,.1), inset 0 3px 0 rgba(0, 0, 0,.1), 0 -1px 0 rgba(0,0,0,.1);
          }     
          100% {
          box-shadow: inset 0 0 30px rgba(0,0,0,.8), 0 2px 0 rgba(255, 255, 255,.1), inset 0 3px 0 rgba(0, 0, 0,.1), 0 -1px 0 rgba(0,0,0,.1);
    }
}
.redDotted:hover,
.yellowDotted:hover,
.blueDotted:hover 
{
    box-shadow: 10px 10px 5px gray;
}
.redDotted:active,
.yellowDotted:active,
.blueDotted:active 
{
    box-shadow: 2px 2px 2px gray;
}

.redFull,
.orangeFull,
.yellowFull,
.greenFull,
.blueFull,
.purpleFull
{
     border-style: solid;
     border-color: white;
     z-index: 5;
}
.redAlpha,
.orangeAlpha,
.yellowAlpha,
.greenAlpha,
.blueAlpha,
.purpleAlpha
{
     border-style: solid;
     border-color: white;
     z-index: 10;
     width: 110px;
     height: 110px;
}

.reds{ 
     position: absolute;
     top: 18%;
     left: 45%;
}
.redDotted {
     /*border-color: rgb(204, 0, 0); */
}
.redDotted:hover {
     background: rgba(204, 0, 0, 0.35);

}
.redFull {
     background: rgb(204, 0, 0);
}
.redAlpha {
     background: rgba(204, 0, 0, 0.5);
}

.oranges{
     position: absolute;
     top: 30%;
     right: 40%;
}
.orangeDotted {
     border-color: rgb(255, 101, 0);
     background: rgba(255, 101, 0, 0.05);
}
.orangeFull {
     background: rgb(255, 101, 0);
}
.orangeAlpha {
     background: rgba(255, 101, 0, 0.5);
}

.yellows {
     position: absolute;
     bottom: 43%;
     right: 39%;
}
.yellowDotted
{
     /*border-color: rgb(255, 213, 51);*/
}
.yellowDotted:hover {
     background: rgba(255, 213, 51, 0.35);  
}
.yellowFull {
     background: rgb(255, 213, 51);
}
.yellowAlpha
{
     background: rgba(255, 213, 51, 0.5);
}

.greens {
     position: absolute;
     bottom:26%;
     left: 46%;
}
.greenDotted {
     border-color: rgb(0, 128, 43);
     background: rgba(0, 128, 43, 0.05);
}
.greenFull {
     background: rgb(0, 128, 43);
}
.greenAlpha {
     background: rgba(0, 128, 43, 0.5);
}

.blues {
     position: absolute;
     bottom: 43%;
     left: 30%;     
}
.blueDotted
{
     /*border-color: rgb(0, 0, 166);*/
}
.blueDotted:hover {
     background: rgba(0, 0, 166, 0.35);
}

.blueFull {
     background: rgb(0, 0, 166);
}
.blueAlpha {
     background: rgba(0, 0, 166, 0.5);
}

.purples {
     position: absolute;
     top: 30%;
     left: 30%;
}
.purpleDotted {
     border-color: rgb(102, 0, 102);
     background: rgba(102, 0, 102, 0.05);
}
.purpleFull {
     background: rgb(102, 0, 102);
}
.purpleAlpha {
     background: rgba(102, 0, 102, 0.5);
}

.dropHover {
     background: #cccccc;
}
.dropHover { 
     border:none;
     -webkit-box-shadow: 0 0 30px 3px rgba(0, 0, 0, .3);
}